body {
    text-align: center;
    background-color: powderblue;
    color: black;
  }
  .ibox {
    width: 200px;
    background-color: white;
    margin-left: 50px;
    border: solid;
  }
  div {
    margin-top: 50px;
  }
  button {
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,27,255,1) 0%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
    border: dashed;
    width: 20%;
    border-color: aliceblue;
    border-width: 5px;
    border-radius: 50px;
    font-size: 30px;
    padding: 10px;
  }
  #r{
    padding: 15px;
font-size: 40 px;
background: radial-gradient(circle, rgba(0,237,255,1) 39%, rgba(2,0,36,1) 54%);
  }